 /* .dropdown{
    position:relative;
    display: inline;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color:#f9f9f9 ;
    min-width: 160pX;
    padding: 12px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content{
    display: block;
} 

.tooltip{
    position: relative;
    display: inline-block;
    border: 1px dotted black;
}

.tooltiptext{
    visibility: hidden;
    z-index: 1px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    left: 50%;
    bottom: 150%;
    margin-left: -40px;}

.tooltip:hover .tooltiptext{
    visibility: visible;
}


.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
} */

/* body{
  counter-reset: number;
}

h2::before{
    counter-increment: number;
    content: counter(number);
    background-color: white;
    border-radius: 50%;
    margin: 5px 12px;
    color: #00014e;


} */

/* :root{
    --primary-color: #fff2ff;
    --secondary-color: #923131;
    --padding:20px;
}
 
h1{
    background-color: #923131 var(--primary-color);
    color: #923131 var(--secondary-color);
} */


img{
    width: 150px;
    height: 150px;
}

#speedsters img{
     transform: scale(1);
     transform: ;
}