.container{
    display: flex;
    background: #3235e3;
}

.container div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

/* flex order */
.container div:nth-child(1){
    order:2;
}

.container div:nth-child(2){
    order:3;
}

.container div:nth-child(3){
    order:0;
}

.container div:nth-child(4){
    order:1;
}

.container2{
    display: flex;
    background: #3235e3;
    /* flex-direction: column-reverse; */
    /* flex-direction: column; */
    /* flex-direction: row; */
    flex-direction: row-reverse;
}

.container2 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

.container3{
    display: flex;
    background: #3235e3;
}

.container3 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

.container3 div:nth-child(2){
    flex-grow: 4;
}

.container4{
    display: flex;
    background: #3235e3;
    /* flex-wrap: nowrap;
    flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
}

.container4 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    width: 30%;
}

/* justify-content
- flex-start
- flex-end
-center
- space-between
- space-around
- space-evenly */

.container5{
    display: flex;
    background: #3235e3;
    justify-content: center;
    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */
}

.container5 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

/* align-items */
/* - stretch
- flex-start
- flex-end
- center
- baseline */

.container6{
    display: flex;
    background: #3235e3;
    justify-content: center;
    height: 200px;
}

.container6 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}


.container6 div:nth-child(1){
   height: 20px;
}


.container6 div:nth-child(2){
  height: 100px;
}


.container6 div:nth-child(3){
  height: 50px;
}
.container6 div:nth-child(3){
  height: 130px;
}

/* align-content
flex-start
flex-end
center
space-between
space-around
stretch */

.container7{
    display: flex;
    background: #3235e3;
    justify-content: center;
    height: 600px;
    align-content: flex-start;
    /* align-content: space-around;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
 */}

.container7 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    width: 400;
    height: 200;
}
